.titulo{
  font-size: 55px;
  color: red;
  text-align: center;
  }
  .body{
      background-color: grey;
  }
  
  .menuTop{
      background-color:orange;
      height: 369px;
    }
  
    .imagemPrincipal{
      float: left;
     
    }
  
    .alinharTexto{
      text-align: center;
    }
  
    .navegacao{
      float: right;
      display: flex;
      height: 10px;
      width: 650px;
    background-image:url(https://www.shutterstock.com/image-photo/textured-fertile-soil-background-gardening-600nw-1413270422.jpg) ;
      margin-right: 100px;
      padding-top: 5px;
      padding-left: 200px;
      border-style: solid;
      border-color: white;
      border-width: 8px;
      padding-bottom: 60px;
      margin-top: 150px;
      padding-right: 10px;
      border-radius: ;
    }
  
    .menuLateral{
      float: right;
      height: 2750px;
      background-color: aquamarine;
      width: 400px;
  
    }
  
    .cordeTexto{
      float: right
    }
    .fundodapagina{
      background-color: rgb(43, 40, 40);
      width: auto;
      height: auto;
    }
    .divEmCimaDoFundo{
      margin-left: 50px;
      margin-right: 50px;
      
      background-color: rgb(43, 40, 40);

    }
    .imagemdefundomenutop{
    background-image: url(https://i.pinimg.com/564x/d8/1b/ee/d81beec492d692c97164558bf0902c42.jpg);
    padding-left: 50px;
    padding-top:50px;
    height: 400px;
  }
 
  .textoLinks{
    color: orange;
  }
  
  .primeiroTitulo{
    text-align: center;
    background-color: rgb(88, 3, 3);
    height: 200px;
    padding-top: 5px;
  }
  .textoFilmes{
    color: white;
    font-size: 64px;
    font-style: oblique;
  }
  .divArticle1{
    background-color: white;
    
  }

  .imagemArticle1{
    border-style: solid;
    border-color: red;
    border-width: 8px;
    height: 300px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
  }
  .textoArticle1{
float: right;
height: 300px;
width: 800px;
margin-right: 250px;
margin-top: 50px;


  }
  .divArticle2{
    background-color: grey;
    height: 400px;
    
  }
  .imagemArticle2{
    border-style: solid;
    border-color: yellow;
    border-width: 8px;
    height: 300px;
    margin-top: 30px;
    float:right;
    margin-right: 300px;
  
    
    
  }
  .textoArticle2{
    float: left;
    height: 300px;
    width: 650px;
    margin-top: 30px;
    margin-left: 150px;
    color: white;
    
    
      }
      .divArticle3{
        background-color:white;
        height: 400px;
        
      }
      .imagemArticle3{
        border-style: solid;
        border-color: red;
        border-width: 8px;
        height: 300px;
        margin-top: 30px;
        float:left;
        margin-left: 150px;
      
        
        
      }
      .textoArticle3{
        float: right;
        height: 300px;
        width: 650px;
        margin-top: 30px;
        margin-right: 250px;}

        .divArticle4{
          background-color:grey;
          height: 400px;
          
        }
        .imagemArticle4{
          border-style: solid;
          border-color: yellow;
          border-width: 8px;
          height: 300px;
          margin-top: 30px;
          float:right;
          margin-right: 300px;
        
          
          
        }
        .textoArticle4{
          float: left;
          height: 300px;
          width: 650px;
          margin-top: 30px;
          margin-left: 150px;
          color: white;
          
        }  
       .tituloPremios{
        text-align: center;
        color:white;
        margin-top: 50px;
        
       }
       .divPremios{
        background-color:  rgb(43, 40, 40);
       }
        
       .divTabela{
        margin-left: 400px;
        margin-right: 400px;
      
       }

      .tituloTabela{
       
          color: white;
          padding-left: 10px;
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          background-color:  rgb(63, 60, 60) ;
          width: 400px;
          
      
        } 
        .primeiraLinha{
          background-color:  rgb(129, 125, 125) ;
          padding-left: 110px;
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }
        .segundaLinha{
          background-color: yellow ;
          padding-left: 110px;
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;

        }
        .rodape{
          background-image:url(https://img.freepik.com/premium-vector/black-yellow-warning-line-striped-rectangular-background_752732-832.jpg);
          margin-bottom: 100px;
          color:black;
          text-align: center;
          margin-left: 100px;
          margin-right: 100px;
          margin-top: 100px;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          padding-top: 50px;
        }
        .categorias1{
          background-color:  rgb(129, 125, 125) ;
          padding-left: 90px;
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }
        .categorias2{
          background-color: yellow ;
          padding-left: 90px;
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
        }
        .ano1{
          color: white;
          padding-left: 1px;
          padding-top: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          background-color:  rgb(63, 60, 60) ;
          width: 400px;
        }

  
