*{
  margin: 0;
}

body
{
  background-color: #123123;
}

.containerTopo
{
  width: 1300px;
  height: 200px;
  background-image: url("https://i.pinimg.com/564x/d8/1b/ee/d81beec492d692c97164558bf0902c42.jpg");
  margin: 0 auto;
}

.imagemLogotipo
{
  width: 200px;
  height: 150px;
  position: relative;
  top: 20px;
  left: 80px;
}

.containerMenu
{
  width: 600px;
  height: 80px;
  background-image: url("https://t3.ftcdn.net/jpg/02/48/80/44/360_F_248804461_tQs7sRjPRr8IUhW3Yj2evpD5oaE3IZJ2.jpg");
  position: relative;
  top: -100px;
  left: 500px;
  border: 2px solid #ffffff;
  border-radius: 20px 0px 20px 0px;
  text-align: center;
  line-height: 80px;
}

.menuLink,
.menuSeparator
{
  font-family: Arial;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;


}


.menuLink:hover
{
  text-decoration: underline;


}

.containerPaginaTitulo
{
  width: 1300px;
  height: 100px;
  background-color: #550000;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;

}

.paginaTitulo{
  font-size: 35px;
  color: #ffffff;
  font-family:comic sans ms


}

.containerFilmeA{
  width: 1300px;
  height: 300px;
  background-color: #ffffff;
  margin: 0 auto;
}

.filmePosterA{
  width: 150px;
  height: 220px;
  border: 5px solid #ff0000;
  float: left;
  position: relative;
  top: 35px;
  left: 50px;
}

.filmeTituloA{
  position: relative;
  left: 130px;
  top: 50px;
  margin: 0;

}

.filmeDescricaoA{
  width: 1100px;
  position: relative;
  top: 60px;
  left: 130px;

}
.containerFilmeB{
  width: 1300px;
  height: 300px;
  background-color: #555555;
  margin: 0 auto;

}

.filmePosterB{
  width: 150px;
  height: 220px;
  border: 5px solid #ffff00;
  float: right;
  position: relative;
  top: 35px;
  right: 70px;
}

.filmeTituloB{
  position: relative;
  left: 50px;
  top: 50px;
  margin: 0;
  color: #ffffff;
  margin: 0;
}

.filmeDescricaoB{
  width: 1000px;
  position: relative;
  top: 60px;
  left: 50px;
  color: #ffffff;
  

}
.containerPremios{
  width: 1300px;
  height: 400px;
  background-image: url("https://media.moddb.com/images/games/1/22/21790/Jungle_Road.jpg");
  margin: 0 auto;
  text-align: center;
  background-attachment: fixed;
}
.premiosTitulo{
  position: relative;
  top: 50px;
  margin: 0 auto;
  color: #ffffff;
}
.tablePremios{
  position: relative;
  top: 80px;
  margin: 0 auto;
  width: 500px;
  height: 250px;

}
.thPremios{
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}
.trPremios{
  text-align: center;
}

.trPremios:nth-child(even){
  background-color: #999999;
}

.trPremios:nth-child(odd){
  background-color: #dddd00;
}
.containerRodape{
  width: 1300px;
  height: 70px;
  text-align: center;
  background-image: url(https://t4.ftcdn.net/jpg/09/75/05/23/360_F_975052398_EVBOoI6YNwiSQERWt1PiASWqLS1ChsCX.jpg);
  margin: 0 auto;
  font-weight: bold;
}
.rodapeTexto{
  color: #ffffff;
  position: relative;
  top: 10px;
}