.titulo{
font-size: 55px;
color: red;
text-align: center;
}
.body{
    background-color: blueviolet;
}

.menuTop{
    background-color:yellow;
    height: 369px;
  }

  .imagemPrincipal{
    float: left;
    height: 369px;
    width: 500px;
    background-color:yellow;
  }

  .alinharTexto{
    text-align: center;
  }

  .navegacao{
    height: 369px;
    background-color:yellow;
     width: 1167px;
     float: right;
     font-size: 30px;
     
  }

  .menuLateral{
    float: right;
    height: 2750px;
    background-color: aquamarine;
    width: 400px;

  }